$purple: purple;
$blue: blue;


@mixin block-template($color) {
  .block {
    width:200px;
    height:100px;
    background:$color;
    margin-left:55px;

    -webkit-transform: skew(-45deg);
    position: absolute;
  }

  .bottom {
    background-color:$color;
    width:200px;
      height:100px;
      -webkit-transform: skew(0);
      position: absolute;
      display:block;
  }
}

@mixin flip-it($rotate-degrees) {
  -moz-transform: scaleX(-1) rotate($rotate-degrees);
  -o-transform: scaleX(-1) rotate($rotate-degrees);
  -webkit-transform: scaleX(-1) rotate($rotate-degrees);
  -ms-transform: scaleX(-1) rotate($rotate-degrees);
  transform: scaleX(-1) rotate($rotate-degrees);
  -ms-filter: "FlipH";
  filter: FlipH;
}




.container {
  border: 10px solid #8B4513;
  margin:25px;
  height: 650px;
  width: 650px;
}



.block-group {
  position:absolute;
  &.flip {
    @include flip-it(0deg);
  }

  &.vertical {
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    &.flip {
      @include flip-it(90deg);
    }
  }

  &.inverse {
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    &.flip {
      @include flip-it(180deg);
    }
  }

  &.vinverse {
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    &.flip {
      @include flip-it(270deg);
    }
  }


}



  .blue {
      @include block-template($blue);
    }

  .purple {
      @include block-template($purple);

  }

  .orange {
      @include block-template(orange);

  }

  .red {
      @include block-template(red);

  }

  .green {
      @include block-template(green);

  }
