.container {
  border: 10px solid #8B4513;
  margin: 25px;
  height: 765px;
  width: 765px; }

.block-group {
  position: absolute; }
  .block-group.flip {
    -moz-transform: scaleX(-1) rotate(0deg);
    -o-transform: scaleX(-1) rotate(0deg);
    -webkit-transform: scaleX(-1) rotate(0deg);
    -ms-transform: scaleX(-1) rotate(0deg);
    transform: scaleX(-1) rotate(0deg);
    -ms-filter: "FlipH";
    filter: FlipH; }
  .block-group.vertical {
    -webkit-transform: rotate(90deg);
    /* Chrome, Safari, Opera */
    transform: rotate(90deg); }
    .block-group.vertical.flip {
      -moz-transform: scaleX(-1) rotate(90deg);
      -o-transform: scaleX(-1) rotate(90deg);
      -webkit-transform: scaleX(-1) rotate(90deg);
      -ms-transform: scaleX(-1) rotate(90deg);
      transform: scaleX(-1) rotate(90deg);
      -ms-filter: "FlipH";
      filter: FlipH; }
  .block-group.inverse {
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(180deg); }
    .block-group.inverse.flip {
      -moz-transform: scaleX(-1) rotate(180deg);
      -o-transform: scaleX(-1) rotate(180deg);
      -webkit-transform: scaleX(-1) rotate(180deg);
      -ms-transform: scaleX(-1) rotate(180deg);
      transform: scaleX(-1) rotate(180deg);
      -ms-filter: "FlipH";
      filter: FlipH; }
  .block-group.vinverse {
    -webkit-transform: rotate(270deg);
    /* Chrome, Safari, Opera */
    transform: rotate(270deg); }
    .block-group.vinverse.flip {
      -moz-transform: scaleX(-1) rotate(270deg);
      -o-transform: scaleX(-1) rotate(270deg);
      -webkit-transform: scaleX(-1) rotate(270deg);
      -ms-transform: scaleX(-1) rotate(270deg);
      transform: scaleX(-1) rotate(270deg);
      -ms-filter: "FlipH";
      filter: FlipH; }

.blue {
  background: blue;
  display: inline-block;
  height: 0px;
  margin-left: 20px;
  margin-top: 150px;
  position: relative;
  width: 150px; }
  .blue:before {
    border-bottom: 150px solid blue;
    border-left: 150px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -150px;
    width: 0;
    width: 0;
    height: 0;
    text-indent: -9999px; }

.purple {
  background: purple;
  display: inline-block;
  height: 150px;
  margin-left: 20px;
  margin-top: 150px;
  position: relative;
  width: 150px; }
  .purple:before {
    border-bottom: 150px solid purple;
    border-left: 150px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -150px;
    width: 0;
    width: 0;
    height: 0;
    text-indent: -9999px; }

.orange {
  background: orange;
  display: inline-block;
  height: 300px;
  margin-left: 20px;
  margin-top: 150px;
  position: relative;
  width: 150px; }
  .orange:before {
    border-bottom: 150px solid orange;
    border-left: 150px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -150px;
    width: 0;
    width: 0;
    height: 0;
    text-indent: -9999px; }

.red {
  background: red;
  display: inline-block;
  height: 450px;
  margin-left: 20px;
  margin-top: 150px;
  position: relative;
  width: 150px; }
  .red:before {
    border-bottom: 150px solid red;
    border-left: 150px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -150px;
    width: 0;
    width: 0;
    height: 0;
    text-indent: -9999px; }

.green {
  background: green;
  display: inline-block;
  height: 600px;
  margin-left: 20px;
  margin-top: 150px;
  position: relative;
  width: 150px; }
  .green:before {
    border-bottom: 150px solid green;
    border-left: 150px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -150px;
    width: 0;
    width: 0;
    height: 0;
    text-indent: -9999px; }
