$purple: purple;
$blue: blue;

$block-size: 100px;

@mixin block-template($color, $height) {
  &:before {
    border-bottom: $block-size solid $color;
    border-left: $block-size solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -$block-size;
    width: 0;
    width: 0;
      height: 0;
    text-indent: -9999px;
  }


  background: $color;
    display: inline-block;
    height: $height;
    margin-left: 20px;
    margin-top: $block-size;
      position: relative;
      width: $block-size;


}

@mixin flip-it($rotate-degrees) {
  -moz-transform: scaleX(-1) rotate($rotate-degrees);
  -o-transform: scaleX(-1) rotate($rotate-degrees);
  -webkit-transform: scaleX(-1) rotate($rotate-degrees);
  -ms-transform: scaleX(-1) rotate($rotate-degrees);
  transform: scaleX(-1) rotate($rotate-degrees);
  -ms-filter: "FlipH";
  filter: FlipH;
}




.container {
  border: 10px solid #8B4513;
  margin:25px;
  height: 900px;
  width: 900px;
  padding: 7px;
}



.block-group {
  position:absolute;
  &.flip {
    @include flip-it(0deg);
  }

  &.vertical {
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    &.flip {
      @include flip-it(90deg);
    }
  }

  &.inverse {
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    &.flip {
      @include flip-it(180deg);
    }
  }

  &.vinverse {
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    &.flip {
      @include flip-it(270deg);
    }
  }


}



  .blue {
      @include block-template($blue, 0px);
    }

  .purple {
      @include block-template($purple, 100px);

  }

  .orange {
      @include block-template(orange, 200px);

  }

  .red {
      @include block-template(red, 300px);

  }

  .green {
      @include block-template(green, 400px);

  }
