.container {
  border: 10px solid #8B4513;
  margin: 25px;
  height: 650px;
  width: 650px; }

.block-group {
  position: absolute; }
  .block-group.flip {
    -moz-transform: scaleX(-1) rotate(0deg);
    -o-transform: scaleX(-1) rotate(0deg);
    -webkit-transform: scaleX(-1) rotate(0deg);
    -ms-transform: scaleX(-1) rotate(0deg);
    transform: scaleX(-1) rotate(0deg);
    -ms-filter: "FlipH";
    filter: FlipH; }
  .block-group.vertical {
    -webkit-transform: rotate(90deg);
    /* Chrome, Safari, Opera */
    transform: rotate(90deg); }
    .block-group.vertical.flip {
      -moz-transform: scaleX(-1) rotate(90deg);
      -o-transform: scaleX(-1) rotate(90deg);
      -webkit-transform: scaleX(-1) rotate(90deg);
      -ms-transform: scaleX(-1) rotate(90deg);
      transform: scaleX(-1) rotate(90deg);
      -ms-filter: "FlipH";
      filter: FlipH; }
  .block-group.inverse {
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(180deg); }
    .block-group.inverse.flip {
      -moz-transform: scaleX(-1) rotate(180deg);
      -o-transform: scaleX(-1) rotate(180deg);
      -webkit-transform: scaleX(-1) rotate(180deg);
      -ms-transform: scaleX(-1) rotate(180deg);
      transform: scaleX(-1) rotate(180deg);
      -ms-filter: "FlipH";
      filter: FlipH; }
  .block-group.vinverse {
    -webkit-transform: rotate(270deg);
    /* Chrome, Safari, Opera */
    transform: rotate(270deg); }
    .block-group.vinverse.flip {
      -moz-transform: scaleX(-1) rotate(270deg);
      -o-transform: scaleX(-1) rotate(270deg);
      -webkit-transform: scaleX(-1) rotate(270deg);
      -ms-transform: scaleX(-1) rotate(270deg);
      transform: scaleX(-1) rotate(270deg);
      -ms-filter: "FlipH";
      filter: FlipH; }

.blue .block {
  width: 200px;
  height: 100px;
  background: blue;
  margin-left: 55px;
  -webkit-transform: skew(-45deg);
  position: absolute; }

.blue .bottom {
  background-color: blue;
  width: 200px;
  height: 100px;
  -webkit-transform: skew(0);
  position: absolute;
  display: block; }

.purple .block {
  width: 200px;
  height: 100px;
  background: purple;
  margin-left: 55px;
  -webkit-transform: skew(-45deg);
  position: absolute; }

.purple .bottom {
  background-color: purple;
  width: 200px;
  height: 100px;
  -webkit-transform: skew(0);
  position: absolute;
  display: block; }

.orange .block {
  width: 200px;
  height: 100px;
  background: orange;
  margin-left: 55px;
  -webkit-transform: skew(-45deg);
  position: absolute; }

.orange .bottom {
  background-color: orange;
  width: 200px;
  height: 100px;
  -webkit-transform: skew(0);
  position: absolute;
  display: block; }

.red .block {
  width: 200px;
  height: 100px;
  background: red;
  margin-left: 55px;
  -webkit-transform: skew(-45deg);
  position: absolute; }

.red .bottom {
  background-color: red;
  width: 200px;
  height: 100px;
  -webkit-transform: skew(0);
  position: absolute;
  display: block; }

.green .block {
  width: 200px;
  height: 100px;
  background: green;
  margin-left: 55px;
  -webkit-transform: skew(-45deg);
  position: absolute; }

.green .bottom {
  background-color: green;
  width: 200px;
  height: 100px;
  -webkit-transform: skew(0);
  position: absolute;
  display: block; }
